.streamlit/secrets.toml
.env
venv/
faiss_index/
vangogh-streamlit/
__pycache__/
*.rds
*.RData
*.RDataTmp
*.Rhistory
*.Rapp.history
*.udpipe
*.csv
*.html
*.qmd
*.png
*.sh
rsconnect/
Van_gogh_graph_cache/
vangogh_final_files/
output_images/
images/
.DS_Store
